/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

/* Bandeau mode édition*/

.bandeau {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: black;
	height: 59px;
}

.interieur-bandeau {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 19px 0 20px 0;
	gap: 11px;
}

/*Première modale*/

.hidden {
	display: none;
}

.modale-wrapper {
	box-sizing: border-box;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modale-content {
	margin: 0;
	padding: 90px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 630px;
	height: 100%;
	border-radius: 10px;
	background-color: white;
}

.modale-content .images-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 6px;
	margin-bottom: 67px;
}

.modale-content .images-container div {
	position: relative;
}

.modale-content .images-container div i {
	position: absolute;
	top: 10px;
	right: 10px;
}

.modale-content h1 {
	white-space: nowrap;
	font-family: Work Sans;
	color: black;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 20px;
}

.modale-content img {
	width: 100%;
	height: 104px;
	object-fit: cover;
}


.line {
	border: 1px solid #b3b3b3;
	width: 420px;
	margin-bottom: 38px;
}

.add-pic {
	border: 1px solid #1D6154;
	border-radius: 60px;
	padding: 10px 49px 9px 49px;
	color: white;
	background-color: #1D6154;
	font-family: syne;
	font-size: 14px;
	font-weight: 700;
}

/* Deuxième modale*/

.modale-content2 {
	margin: 0;
	padding: 60px 100px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 630px;
	border-radius: 10px;
	background-color: white;
}

.modale-content2 h1 {
	white-space: nowrap;
	font-family: Work Sans;
	color: black;
	font-size: 26px;
	font-weight: 400;
	margin-bottom: 36px;
}

.icon-modal {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.icon-modal .fa-arrow-left,
.fa-xmark {
	font-size: 21px;
}


.contenu-photo {
	border: 1px solid #e8f1f6;
	width: 420px;
	height: 169px;
	background-color: #E8F1F6;
	border-radius: 3px;
	margin-bottom: 30px;
}

.interieur {
	padding: 13px 173px 19px 171px;
}

.interieur p {
	color: #444;
	font-size: 10px;
	font-weight: 400;
	white-space: nowrap;
}

.interieur i {
	font-size: 76px;
	color: #b9c5cc;
	margin-bottom: 6px;
}

.div-ajoutphoto {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 7px;

}

.ajout-photo {
	white-space: nowrap;
	border: 1px solid #CBD6DC;
	border-radius: 50px;
	padding: 10px 33px 10px 33px;
	color: #306685;
	background-color: #CBD6DC;
	font-family: syne;
	font-size: 14px;
	font-weight: 500;
	width: 200px;
}

.modale-form {
	width: 100%;
	margin-bottom: 40px;
}

.modale-form form {
	display: flex;
	flex-direction: column;
}

.modale-form label {
	width: 100%;
	margin-bottom: 10px;
}

.modale-form input,
.modale-form select {
	width: 100%;
	height: 51px;
	margin-bottom: 20px;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	outline: none;
	border: none;
}

.valider-button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.valider {
	border: 1px solid #a7a7a7;
	border-radius: 60px;
	color: white;
	background-color: #a7a7a7;
	font-family: syne;
	font-size: 14px;
	font-weight: 700;
	width: 237px;
	padding: 10px 49px 9px 49px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}